<!-- 3.4.4 renamed layout_file to app/views/layouts/application.html.erb which contains html code -->
	<h1>Sample App</h1>
	<p>This is the home page for the<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>sample application.
	</p>
